@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Teko:wght@300&display=swap");
.modal-main {
  display: flex;
  // background-color: black;

  &__img {
    height: 100%;
  }
  &__text {
    margin-left: 10px;
    &--title {
      color: white;
      font-weight: bold;
      font-family: "Hind", sans-serif;
    }
    &--subtitle {
      font-size: 1.2rem;
      font-weight: 700;
      color: seagreen;
    }
    &--production {
      color: rebeccapurple;
    }
  }
}
