.main-container {
  display: flex;
  flex-direction: column;

  

  &__lists {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
    margin-top: 4rem;
  }
}

.message {
  position: absolute;
  width: 200px;
  top: 200px;
  display: none;
}
.animate__animated.animate__bounceOut {
  --animate-duration: 4s;
}
.animate__animated.animate__bounceIn {
  --animate-duration: 4s;
}
