.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // background:#323232;
}

.main-container__lists {
  display: flex;
  justify-content: center;
}


.message {
  position: absolute;
  width: 200px;
  top: 200px;
  display: none;
  
  
}
.animate__animated.animate__bounceOut {
  --animate-duration: 4s;
}
.animate__animated.animate__bounceIn {
  --animate-duration: 4s;
}

