.list-item {
    width: 250px;
    background-color: red;
    margin: 10px;
    border-radius: 5px;

    &__poster {
        width: 250px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 300px;
    }
}