.list-item {
  width: 80%;
  align-self: center;
  background-color: #fafafa;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  text-decoration: none;
  cursor: pointer;

  @include tablet {
    width: 250px;
  }

  &:hover {
    transition: 1s;
    transform: scale(1.03);
  }
  &__button {
    margin-bottom: 10px;
  }
  &__poster {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 200px;
    width: 100%;
    @include desktop {
      width: 250px;
    }
  }
  &__title {
    height: 80px;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
