.list-container {
  margin-top: 20px;

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    justify-content: center;

    @include tablet {
      flex-direction: row;
    }
  }
}

.movie-list {
  width: 100%;
  @include desktop {
    width: 70%;
  }
 
}

.nomination-list {
  flex-direction: column;
  flex-wrap: nowrap;
}

.nominated-item {
  box-shadow: 5px 5px 5px rgba(149, 148, 148, 0.6);
  // display: flex;
  // flex-direction: column;
  width: 200px !important;

}

.list-item__button {
  align-self: flex-end;
}

.scroll {
  // height: 80vh;
  // overflow-y: scroll;
}
.nominated-list {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  display: none;
  
  @include desktop {
    display: inline;
  }

}