.title-search__form {
  width: 40%;
  background-color: #fafafa;
  padding: 1.5rem;
  // border: 1px solid rgb(226, 223, 223);
  align-self: center;
  margin-top: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
   

  &--title {
    margin: 0;
  }
  &--input {
    border-radius: 3px;
    width: 92%;
    padding: 0.6rem 0;
    padding-left: 2.2rem;
    border: 1px solid rgb(226, 223, 223);
    

    font-size: 1rem;
    &:focus {
      outline: none;
      border: 2px solid #323232;
    }
  }

  &--icon {
    position: absolute;
    left: 25px;
    top: 15px;
  }
}

.container {
  position: relative;
  width: 100%;
  padding: 0;
}
